<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.yd.business.user.dao.IUserExtendsMapper">

	<sql id="query_Where_Clause">
		<where>
			m.userid = u.id and u.status != -1
			<if test="systemid != null"> and m.systemid = #{systemid}</if>
			<if test="productid != null"> and m.productid = #{productid}</if>
			<if test="name != null"> and u.name like '%${name}%'</if>
			<if test="area1 != null"> and u.area1 like '%${area1}%'</if>
			<if test="area2 != null"> and u.area2 like '%${area2}%'</if>
			<if test="area3 != null"> and u.area3 like '%${area3}%'</if>
			<if test="area4 != null"> and u.area4 like '%${area4}%'</if>
			<if test="id != null"> and u.id  = #{id}</if>
			<if test="code != null"> and u.code like '%${code}%'</if>
			<if test="addressid != null"> and u.addressid = #{addressid} </if>
			<if test="idcard != null"> and u.idcard like '%${idcard}%'</if>
			<if test="phone != null"> and u.phone like '%${phone}%'</if>
			<if test="metercode != null"> and m.code = #{metercode}</if>
			<if test="meterOpened != null"> and m.opened = #{meterOpened}</if>
			<if test="priceCode != null"> and m.pricecode = #{priceCode}</if>
			<if test="factoryCode != null"> and m.factorycode = #{factoryCode}</if>
		</where>
	    <if test="rows != null">
	      <if test="page != null">
	        limit ${(page-1) * rows}, ${rows}
	      </if>
	      <if test="page == null">
	        limit ${rows}
	      </if>
	    </if>
	</sql>
	<select id="queryUserAndMeterByExtend" resultType="userModelExtendsBean"
		parameterType="userModelExtendsBean">
		select u.*,m.code metercode,m.pricename priceName,m.opentime meterStoptime ,
		(select d.description from ll_dictionary d where d.tablename = 'meter' and d.attribute = 'opened'  and value = m.opened  ) meterOpened
		 from lm_meter m,lm_user u
	    <include refid="query_Where_Clause" />
	</select>
	<select id="countUserAndMeterByExtend" resultType="int"
		parameterType="userModelExtendsBean">
		select count( u.id)  from lm_meter m,lm_user u
	    <include refid="query_Where_Clause" />
	</select>
	
</mapper>