html,body{
	font:12px/20px Helvetica,STHeiti STXihei,Microsoft JhengHei,Microsoft YaHei,Arial;
	padding:0px;
	margin:0px;
}
#activity_page_main{
	background:#f34654;
	height:auto;
	margin:auto;
	position: relative;
}
#activity_game{
	width:100%;
	height: 347px;
}
 #activity_game .activity_top{
	height: 35px;
}
 #activity_game .activity_midden{
	width: 100%;
	height: 180px;
}
 #activity_game .activity_midden .bg_div{
	background:#321e32;
	height:180px;
	width:100%;
	position:absolute;
	z-index:2;
}
#activity_game .activity_midden .bg_div .bg_box{
	height:100%;
	margin:0 auto;
	overflow:hidden;
	width:188px;
}
#activity_game .activity_midden .bg_div .bg_box .bg_img{
	background:url("/static/wap/h5packet1_1/img/yyybg_x.png") no-repeat center center;
	width:100%;
	height:150px;
	background-size:cover;
	margin-top:20px;
}
#activity_game .activity_midden .shake_div{
	height:180px;
	width:100%;
	position: absolute;
}
#activity_game .activity_midden .shake_div .shake_top{
	width:100%;
	height:50%;
	background:#f34654;
	z-index: 3;
	position: absolute;
}
#activity_game .activity_midden .shake_div .shake_top .el_top{
	height:100%;
	background:url("/static/wap/h5packet1_1/img/shake.png?v=1") no-repeat;
	margin:0 auto;
	width:188px;
	overflow:hidden;
	background-size:cover;
	position: relative;

}
#activity_game .activity_midden .shake_div .shake_bottom{
	width:100%;
	height:50%;
	background:#f34654;
	z-index: 3;
	position: absolute;
	margin-top:90px;
	
}
#activity_game .activity_midden .shake_div .shake_bottom .el_bottom{
	height: 100%;
	background: url("/static/wap/h5packet1_1/img/shake.png") no-repeat;
	background-size: cover;
	width: 188px;
	background-position: 0px -90px;
	margin: 0 auto;
}
#activity_game .activity_midden .shake_div .el_top .draw-logo-96{
	background-image: url("/static/wap/h5packet1_1/img/logo.png");
	width: 35px;
    height: 35px;
    background-size: cover;
    position: absolute;
    left: 75px;
    top: 55px;
}
 #activity_game .activity_bottom{
	height: 40%;
	color: #990000;
}
 #activity_game .activity_bottom .activi_title{
	font-size: 18px;
	font-weight: bold;
	max-width: 620px;
	margin: 0 auto;
	text-align: center;
	margin-top: 15px;
}
#activity_game .activity_bottom .title{
	width: 95%;
	position: relative;
	margin-top: 50px;
	padding-left: 2.5%;
	padding-right: 2.5%;
}
 #activity_game .activity_bottom .title .wire{
	display: block;
	width: 100%;
	border-bottom: 1px solid #990000;
}
 #activity_game .activity_bottom .title .text{
	position: absolute;
	left: 0;
	top: -10px;
	bottom: 0;
	right: 0px;
	display: block;
	text-align: center;
}
#activity_game .activity_bottom .title .text span{
	padding: 0px 10px;
	line-height: 20px;
	color: #990000;
	background-color: #f34654;
	text-align: center;
	font-size: 12px;
}
#activity_game .activity_bottom .activi_mobile{
	font-size: 28px;
	text-align: center;
	margin: 0 auto;
	width: 100%;
	margin-top: 20px;
}
.footer{
	position: fixed;
	text-align: center;
	width: 100%;
	color: #ff9999;
	font-size: 12px;
	margin-bottom: 5px;
}
.footer a{
	color: #ffee33;
}

/*摇一摇出错页面*/
.yy_row {
	padding: 0 10px;
	max-width: 640px;
	margin: 0 auto;
}
.error_bg {
	margin-top: 25px;
	width: 300px;
	height: 175px;
	background: url(/static/wap/h5packet1_1/img/yy_error_pic.png) no-repeat;
	background-size: cover;
	margin: auto;
}
.yy_error_text {
	color: #990000;
	font-size: 18px;
	text-align: center;
	margin-top: 30px;
	font-weight: bold;
}
.hd_Number_title {
	width: 100%;
	border-top: 1px solid #990000;
	position: relative;
	font-size: 12px;
	margin-top: 55px;
}
.hd_Number_title .title_box {
	position: absolute;
	top: -10px;
	display: inline-block;
	width: 100%;
	text-align: center;
	color: #990000;
}
.hd_Number_title .title_box span {
	background: #f34654;
	padding: 0 10px;
}
.phone_Numboer {
	font-size: 28px;
	color: #990000;
	text-align: center;
	margin-top: 15px;
}

/* 提示 */
.tips-popup {
  padding: 10px 10px;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 12px;
  min-width: 200px;
  left: 50%;
  text-align: center;
  line-height: 18px;
  bottom: 50%;
  border-radius: 5px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
  z-index: 999;
}
/* 首页弹出 */
.popup-panel {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
}
#strong_sub.popup-panel .content,#mobile_error.popup-panel .content{
	margin: auto;
}
.popup-panel .content {
  padding: 5px 0px 0px;
  width: 260px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #fff;
  border-radius: 8px;
  min-height: 130px;
}
.popup-panel .content .colse {
  width: 20px;
  height: 20px;
  background: url(/static/wap/h5packet1_1/img/close.png?v=1) no-repeat;
  background-size: 13px 13px;
  background-position: center;
  float: right;
  margin-right: 10px;
}
.popup-panel .content .tips {
  clear: both;
  color: #333333;
  font-weight: bold;
  width: 96%;
  margin: 0 2%;
  margin-bottom: 10px;
  padding-top: 5px;
}
.popup-panel .content .tips.mobile_tips{
	min-height: 50px;
	text-align: center;
}
.popup-panel.mobile_error .content .btn-div .btn-popup{
	float: none;
	width: 99%;
}
.popup-panel .content .btn-popup {
  margin: 0px auto;
  float: left;
}
.btn.btn-popup {
  display: block;
  width: 49%;
  height: 37px;
  line-height: 40px;
  font-size: 12px;
  color: #dd4422;
  background-color: #fff;
  border-top: 1px solid #eeeeee;
  border-radius: 0px;
  border-left: 1px solid #eeeeee;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.popup-panel .content .btn-popup.btn-right{
	border-bottom-left-radius: 0px;
}

/*活动2*/
html{margin:0; padding:0; font-size: 62.5%;}
html,body { width: 100%;}
body{font-family: Microsoft YaHei,Arial; font-size: 12px; font-size: 1.2rem; color: #333333; min-width: 320px;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
img{ border:0;}
a{text-decoration: none; color: #333333; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
address, caption, cite, code, dfn, em, var, i{font-style:normal;font-weight:normal;}
ul,ol{ list-style:none;}
u,i,s,em{text-decoration: none;font-weight: normal;font-style: normal;}
input[type="button"], input[type="submit"], input[type="reset"] {
-webkit-appearance: none;
}
/*body{background: #f34654;}*/
/*common*/
.clear{ clear:both}
.hide{ display:none;}
.fl {float: left;}
.fr {float: right;}
.p_lr10{padding: 0 10px;}

.wap_hd2{margin-left: auto; margin-right: auto; min-height: 100%;}
.wap_hd2_wrap{margin: 0 auto;}
.wap_hd2_wrap.wap_index{
	width: 100%;
}
.wap_hd2_wrap.wap_index .wap_banner_wrap{
	margin: auto;
}
.wap_hd2_wrap.wap_index .wap_content_wrap{
	max-width: 92%;
	height: auto;
	background: #ede9da;
	width: auto;
	/*padding: 0px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;*/
	padding: 10px 4% 10px;
	margin-top: -7px;
}
.wap_hd2_wrap.wap_index .wap_content_wrap form{
	width: 100%;
}
.mobile_wrap{
	width: 100%;
}
.wap_hd2_wrap.wap_index .wap_content_wrap .phone-number{
	width: 97%;
	/*margin-left: 5px;*/
	padding-left: 10px;
}
.wap_hd2_wrap.wap_index .wap_content_wrap .btn-lll{
	width: 100%;
	/*margin-left: 5px;*/
}
.wap_title{width: 100%; height: 34px; background: #1e1d22; line-height: 34px; font-size: 14px;}
.wap_title a{color: #999; font-size: 12px; height: 34px; line-height: 34px; display: block; float: right; font-size: 14px;}
.wap_title a span{display: block; width: 12px; height: 12px; float: left; margin: 9px 5px 0 0; }
.wap_title a p{float: left;}
.wap_title_left a p{
	width: 135px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	 font-size: 14px;
}
.wap_title_left{width: 150px; height: 34px; float: left;padding-left: 5px; overflow: hidden;white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis;}
.wap_title_left a span{width: 9px; height: 16px; background: url(/static/wap/h5packet1_1/img/fh_tu.png) no-repeat; background-size:cover; margin: 9px 6px 0 0;}
.wap_title_right{height: 34px; float: right;padding-right: 5px; width: 126px;}
.wap_title_right .dz_a {}
.wap_title_right .dz_a .dz_a_span{background: url(/static/wap/h5packet1_1/img/dz_tu.png) no-repeat; background-size:cover;}
.wap_title_right .dz_a .clicked{background: url(/static/wap/h5packet1_1/img/dz_clicked.png) no-repeat; background-size:cover;}
.wap_title_right .fx_a .fx_a_span{ background: url(/static/wap/h5packet1_1/img/fx_tu.png) no-repeat; background-size:cover; }
.wap_title_right .fx_wrap{width: 50px; float: right; margin-right: 0px; display: inline-block; margin-left: 15px;}
.wap_title_right .dianji{width: 30px;}
.wap_title_right .bds_share {
  display: block;
  width: 15px;
  height: 15px;
  float: left;
  margin: 10px 5px 0 0;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-size: cover;
  background-image: url(/static/wap/h5packet1_1/img/fx_tu.png);
}
.wap_banner_wrap{max-width: 414px; height: 155px;margin: auto;}
.wap_banner_div{width: 100%;background: #f34654;}
.wap_banner{width: 320px; height: 155px; /* background: url(/static/wap/h5packet1_1/img/wap_bg1.png) no-repeat; */ background-size:cover;}
.banner_btm{width: 320px; height: 20px; background:url(/static/wap/h5packet1_1/img/wap_bg_btm.png) no-repeat;}

.wap_content_wrap{width: 290px; height: auto; background: #ede9da; padding: 12px 15px 0;}
.wap_content_wrap input{
	 height: 40px; display: block; float: left; border: 0; /*padding: 0 5px;*/ font-size: 12px; border-radius: 5px; outline: none; margin-bottom: 10px;
	-moz-box-shadow:1px 1px 1px #d4c5bf inset; -webkit-box-shadow:1px 1px 1px #d4c5bf inset; box-shadow:1px 1px 1px #d4c5bf inset;  
}
.wap_content_wrap .phone-number{width: 280px;}
.input_wrap{width: 100%; margin:10px 0 20px 0px; overflow: hidden;}
.input_yzm_wrap{width: 66%; float: left; overflow: hidden; height: 40px;}
.btn-yzm_wrap{width: 34%; float: left; overflow: hidden; height: 40px;}
.wap_content_wrap .input_yzm{min-width: 180px; width: 99%; padding-left: 10px; border-radius: 5px 0 0 5px;}
 .wap_content_wrap .btn-yzm{min-width: 100px; width: 100%; height: 40px; border: 1px solid #ee5500; border-radius: 0 5px 5px 0; background: #ede9da; 
 line-height: 38px; text-align: center; color: #ee5500; cursor: pointer;}
/* .wap_content_wrap .input_yzm{width: 92%;margin-left: 5px;border-radius: 5px 0 0 5px;padding: 0px;}
 .wap_content_wrap .btn-yzm{float: left; width: 108px; height: 40px; border: 1px solid #ee5500; -webkit-box-shadow:none;box-shadow:none;border-radius: 0 5px 5px 0; background: #ede9da; 
 line-height: 38px; text-align: center; color: #ee5500; cursor: pointer;} */
.wap_content_wrap .btn-lll{width:290px; height: 40px; border-radius: 5px; background: #0bc2af; text-align: center; line-height: 40px; color: #fff; border: 0;
 font-size: 16px; cursor: pointer;}

.award-list {margin-top: 20px; height: 120px; min-height: 120px; width: 100%; overflow: hidden;}
.award-item.move{-webkit-transition: .3s all;transition: .3s all;margin-top: -42px;}
.award-list .award-item {position: relative; height: 42px;}
.award-list .award-item .image {position: absolute; left: 0; top: 0; background-position: center; background-size: cover;
 background-repeat: no-repeat;}
.award-list .award-item .info { width: 100%;}
.award-list .award-item .info .above { position: relative; height: 20px; line-height: 20px; color: #774400; font-size: 12px;
  padding-left: 33px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.award-list .award-item .info .above .count { display: block; position: absolute; right: 0; top: 0; height: 16px; line-height: 16px;
  font-size: 12px;}
.span_red{color: #dd4422;}
.award-list .award-item .info .below { position: relative; height: 16px; line-height: 16px; padding-right: 80px; color: #fbc41c;
  font-size: 12px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.award-list .award-item .info .below .time {display: block; position: absolute; right: 0; top: 0; height: 10px; line-height: 10px;
font-size: 12px; color: #b2905b;}
.image{width: 20px; height: 22px; background: url(/static/wap/h5packet1_1/img/tw_img.png) no-repeat; margin-left: 6px;}
.wap_content_line{
	width: 100%;
	height: 5px;
	background: url(/static/wap/h5packet1_1/img/huaban.png?v=1) repeat-x;
	border: none;
}

.rule-panel { padding: 20px 0px 0; margin: 0 auto;}
.rule-panel .title {height: 15px; position: relative; margin: 0 auto;}
.rule-panel .title .wire { display: block; width: 100%; border-bottom: 1px solid #990000;}
.rule-panel .title .text { position: relative; border-top: 1px solid #990000; display: block; text-align: center;}
.rule-panel .title .text span { position: absolute; top: -10px; left: 50%;line-height: 20px; color: #990000;
  background-color: #f34654; text-align: center; font-size: 12px; font-weight: bold; width: 60px; margin-left: -30px;}
.rule-panel .content {padding-bottom: 10px; margin: 0 auto;}
.rule-panel .content p { line-height: 20px; font-size: 12px; color: black;}
.wap_footer{text-align: center; color: #ff9999; margin-bottom: 8px;font-size: 12px;}
.wap_footer p{margin: 0 auto; font-size: 12px;}
.wap_yellow{color: #ffee33;}


/*@media screen and (max-width:959px){
      .wap_content_wrap .input_yzm{
	 	width: 668px;
	 }     
	 .wap_content_wrap .btn-yzm{
	 	width: 92px;
	 }
}

@media screen and (max-width:767px){
      .wap_content_wrap .input_yzm{
	 	width: 540px;
	 }     
	 .wap_content_wrap .btn-yzm{
	 	width: 92px;
	 }
}

@media screen and (max-width:639px){
      .wap_content_wrap .input_yzm{
	 	width: 380px;
	 }     
	 .wap_content_wrap .btn-yzm{
	 	width: 92px;
	 }
}


@media screen and (max-width:479px){
	 .wap_content_wrap .input_yzm{
	 	width: 220px;
	 }     
	 .wap_content_wrap .btn-yzm{
	 	width: 92px;
	 }
}*/


/*活动结束*/
.hdjs_bg{height: 180px; background: url(/static/wap/h5packet1_1/img/hdjs_wzbg.png) no-repeat center top; padding-top: 30px; background-size:contain;}
.hdjs_wz{width: 255px; height: 81px; background: url(/static/wap/h5packet1_1/img/hdjs_bg.png) no-repeat; margin: 0 auto; background-size:cover;}
.gx_wrap{height: 100px; margin: 0 auto;}
.gx_lr10{padding: 0 10px;}
.gx_top{height: 72px;background: #c23843;border-top-right-radius: 4px;border-top-left-radius: 4px;}
.logo-40{
	background: url(/static/wap/h5packet1_1/img/result-logo.png);
	width: 40px;
	height: 40px;
	float: left;
	background-size: cover;
	margin-right: 10px;
	margin-top: 18px;
	margin-left: 10px;
}
.gx_top span{width: 22px; height: 24px; background:url(/static/wap/h5packet1_1/img/hd_logo.png); display: block;  background-size: cover;margin: auto;margin-top: 8px;}
.gx_top p{font-size: 20px; float: left; height: 40px; line-height: 40px; color: #ffee88;margin-top:18px;}
.gx_btm{height: 29px; background:#c23843 url(/static/wap/h5packet1_1/img/dxtz_bg.png) repeat-x; font-size: 12px; color: #990000;border-bottom-right-radius: 4px;border-bottom-left-radius: 4px;}
.gx_btm span{
	display: inline-block;
	padding-top: 7px;
	padding-left: 10px;
}
.rslm_wrap{height: 40px; margin: 18px auto 5px;}
.btn{width: 48%; height: 40px; line-height: 40px; cursor: pointer; border: 1px solid #fff; border-radius: 5px; text-align:center; background:none;
font-size: 14px; color: #fff;}
.btn.btn-rob{
	width: 100%;
	background: #0bc2af;
}
/*我也要抢*/
.mt_25{margin-top: 25px;}
.btn_w290{width: 100%; margin: 25px auto 0; display: block;}
.mt_15{margin-top: 15px;}
/*活动留言*/
.hd_ly{width: 40px; height: 40px; position: fixed; top: 80%; right: 5px; background: url(/static/wap/h5packet1_1/img/wap_ly.png) no-repeat;
 cursor: pointer; background-size:cover;}

/*JM----进入活动时页面出错*/
.error_interface {max-width: 640px; margin: 0 auto; margin-top: 33px; padding: 0 10px;}
.error_rw{width: 300px; height: 163px; background: url(/static/wap/h5packet1_1/img/error_bg.png) no-repeat; margin: 0 auto; background-size:cover;}
.error_prompt {text-align: center; margin-top: 20px; font-size: 1.8rem; color: #990000; font-weight: bold;}
/*JM----活动未开始*/
.header {margin: 0 auto;}
.row {margin: 0 auto;padding: 0;}
.hd_content {
	height: 200px;
	max-width: 620px;
	background-size: contain;
	background-position: center top;
	background-repeat: no-repeat;
	background-image: url(/static/wap/h5packet1_1/img/hd_pic.png);
	margin: auto;
}
.hd_logo {
	width: 204px;
	height: 150px;
	background: url(/static/wap/h5packet1_1/img/activity_logo_bg1.png) no-repeat center;
	background-size: cover;
	margin: 0 auto;
	margin-top: -30px;
}
.hd_logo .activity_logo_span{
	padding-top: 35px;
	width: 204px;
	height: 150px;
	display: block;
}
.activity_logo{
	width: 65px;
	height: 70px;
	background: #fff url(/static/wap/h5packet1_1/img/activity_logo.png) no-repeat center;
	margin: 0 auto;
	display: block;
	background-size: cover;
}
.hd_end {font-size: 1.8rem;margin-top: 18px;}
.hd_begin {font-size: 1.2rem;margin-top: 14px;}
.hd_end,.hd_begin {color: #990000;}
.hd_end,.hd_begin,.hd_countdown {text-align: center;}
.hd_countdown {color: #ffffff;margin-top: 5px; font-size: 1.8rem}
.no_nextstatus{margin-top:18px;}
.fw_bold{font-weight: bold;}


/* 暂停页 */
.pause_img img {
  width: 100%;
  padding-top: 64px;
}
.pause_text {
  font-size: 14px;
  text-align: center;
  color: #fff;
  padding-top: 20px;
}

/* 分享 */ 
/*body .bdshare_dialog_list a, .bdshare_popup_list a, .bdshare_popup_bottom a{
	color: #565656;
	font: 12px '宋体';
	display: block;
	background-image: url(/static/wap/h5packet1_1/img/share_png.png);
	background-repeat: no-repeat;
	text-decoration: none;
	padding: inherit;
	border: 0px;
	line-height: 60px;
}*/
.zindex-bottom{
	width: 100%;
	height: 100%;
	background: #310e11;
	position: absolute;
	opacity: 0.7;
	display: none;
}
/*body .bdshare_dialog_bg{
	display: inline;
}
body .bdshare_dialog_box{
	border: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	border-radius: 0px;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	background: none;
	display: block;
}
body .bdshare_dialog_bottom,body .bdshare_dialog_top,body .bdshare_popup_top{
	display: none;
}
body .bdshare_dialog_top{
	display: block;
}
body .bdshare_dialog_list{
	background: none;
}
body .bdshare_dialog_list li{
	display: none;
	height: 60px;
	width: 60px;
	padding: 0px;
}
body .bdshare_dialog_list li:nth-child(2),body .bdshare_dialog_list li:nth-child(3),body .bdshare_dialog_list li:nth-child(6),body .bdshare_dialog_list li:nth-child(7),body .bdshare_dialog_list li:nth-child(15),body .bdshare_dialog_list li:nth-child(39){
	display: block;
	margin-right: 30px;
	margin-left: 10px;
	margin-top: 30px;
}
body .popup_qzone{
	background-position: 0px -120px;
	width: 60px;
	height: 60px;
	background-size: cover;
}
body .popup_tsina{
	background-position: 0px -240px;
	width: 60px;
	height: 60px;
	background-size: cover;
}
body .popup_renren{
	background-position: 0px -480px;
	width: 60px;
	height: 60px;
	background-size: cover;
}
body .popup_tqq{
	background-position: 0px -360px;
	width: 60px;
	height: 60px;
	background-size: cover;
}
body .popup_sqq{
	background-position: 0px 0px;
	width: 60px;
	height: 60px;
	background-size: cover;
}
body .popup_copy{
	background-position: 0px -600px;
	width: 60px;
	height: 60px;
	background-size: cover;
}
body .bdshare_dialog_list a:hover,body .bdshare_popup_list a:hover{
	border: 0px;
	border-radius: 0px;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	background-clip: initial;
	-webkit-background-clip: none;
	-moz-background-clip: none;
}*/

/*请使用安卓或ios手机参与活动*/
.xt_row {
	max-width: 640px;
	margin: 0 auto;
}
.android_pic,.ios_pic {
	padding: 0 10px; 
	margin: 70px auto 0;
	width: 300px; 
	height: 100px;
}
.android_pic {
	background: url(/static/wap/h5packet1_1/img/android_pic.png) no-repeat;
	background-size: cover;
}
.ios_pic {
	background: url(/static/wap/h5packet1_1/img/ios_pic.png) no-repeat;
	background-size: cover;
}
.xt_prompt {
	color: #990000;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	margin-top: 45px;
}



.demoout{
	-webkit-animation:1s ease-in forwards;
	-moz-animation:1s ease-in forwards;
	-ms-animation:1s ease-in forwards;
	animation:1s ease-in forwards;


	-webkit-animation-name:fadeoutT;
	-moz-animation-name:fadeoutT;
	-ms-animation-name:fadeoutT;
	animation-name:fadeoutT;

}



/* 这段代码放最底下下 */
/* animation start*/
.el-fadeoutT, .a-bounce,.a-flip,.a-flash,.a-shake,.a-swing,.a-wobble,.a-ring{
	-webkit-animation:1s ease;
	-moz-animation:1s ease;
	-ms-animation:1s ease;
	animation:1s ease;
}
.el-fadeoutT, .a-fadein,.a-fadeinT,.a-fadeinR,.a-fadeinB,.a-fadeinL,.a-bouncein,.a-bounceinT,.a-bounceinR,.a-bounceinB,.a-bounceinL,.a-rotatein,.a-rotateinLT,.a-rotateinLB,.a-rotateinRT,.a-rotateinRB,.a-flipin,.a-flipinX,.a-flipinY{
	-webkit-animation:1s ease-out backwards;
	-moz-animation:1s ease-out backwards;
	-ms-animation:1s ease-out backwards;
	animation:1s ease-out backwards;
}
.el-fadeoutT,.a-fadeout,.a-fadeoutT,.a-fadeoutR,.a-fadeoutB,.a-fadeoutL,.a-bounceout,.a-bounceoutT,.a-bounceoutR,.a-bounceoutB,.a-bounceoutL,.a-rotateout,.a-rotateoutLT,.a-rotateoutLB,.a-rotateoutRT,.a-rotateoutRB,.a-flipout,.a-flipoutX,.a-flipoutY{
	-webkit-animation:1s ease-in forwards;
	-moz-animation:1s ease-in forwards;
	-ms-animation:1s ease-in forwards;
	animation:1s ease-in forwards;
}

/* 淡出-向上*/
.active .a-fadeoutT{
	-webkit-animation-name:fadeoutT;
	-moz-animation-name:fadeoutT;
	-ms-animation-name:fadeoutT;
	animation-name:fadeoutT;
}
/* 淡出-向下*/
.active .a-fadeoutB{
	-webkit-animation-name:fadeoutB;
	-moz-animation-name:fadeoutB;
	-ms-animation-name:fadeoutB;
	animation-name:fadeoutB;
}
/* 淡出-向下*/
@-webkit-keyframes fadeoutB{
    0%{opacity:1;-webkit-transform:translateY(0);}
    40%{-webkit-transform:translateY(100%);}
    70%{-webkit-transform:translateY(100%);}
    100%{opacity:1;-webkit-transform:translateY(0);}
}
/* 淡出-向上*/
@-webkit-keyframes fadeoutT{
    0%{opacity:1;-webkit-transform:translateY(0);}
    40%{-webkit-transform:translateY(-100%);}
    70%{-webkit-transform:translateY(-100%);}
    100%{opacity:1;-webkit-transform:translateY(0);}
}
/* 淡出-向上 */
.el-fadeoutT{
	-webkit-animation-name:elfadeoutT;
	-moz-animation-name:elfadeoutT;
	-ms-animation-name:elfadeoutT;
	animation-name:elfadeoutT;
}
/* 淡出-向上 */
@-webkit-keyframes elfadeoutT{
    0%{opacity:1;-webkit-transform:translateY(0); height:100%;}
    100%{opacity:0;-webkit-transform:translateY(-100px); height:0px;}
}
/* animation end*/