<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.yd.business.device.dao.IMeterExtendsMapper">

	<sql id="query_Where_Clause">
		<where>
			m.userid = u.id 
			<if test="systemid != null"> and m.systemid = #{systemid}</if>
			<if test="productid != null"> and m.productid = #{productid}</if>
			<if test="userid != null"> and m.userid = #{userid}</if>
			<if test="code != null"> and m.code = #{code}</if>
			<if test="userCode != null"> and u.code = #{userCode}</if>
			<if test="userName != null"> and u.name like '%${userName}%'</if>
			<if test="area1 != null"> and u.area1 like '%${area1}%'</if>
			<if test="area2 != null"> and u.area2 like '%${area2}%'</if>
			<if test="area3 != null"> and u.area3 like '%${area3}%'</if>
			<if test="area4 != null"> and u.area4 like '%${area4}%'</if>
			<if test="addressid != null"> and u.addressid = #{addressid}</if>
			<if test="ispid != null"> and ispid = #{ispid}</if>
		</where>
	    <if test="rows != null">
	      <if test="page != null">
	        limit ${(page-1) * rows}, ${rows}
	      </if>
	      <if test="page == null">
	        limit ${rows}
	      </if>
	    </if>
	</sql>
	<select id="queryMeterAndUserList" resultType="meterModelExtendsBean" flushCache="true"
		parameterType="meterModelExtendsBean">
		select m.*,u.*,u.name userName,u.code userCode from lm_meter m,lm_user u
	    <include refid="query_Where_Clause" />
	</select>
	
	<select id="countMeterAndUserList" parameterType="meterModelExtendsBean" resultType="int">
		select count(1) from  lm_meter m,lm_user u
	    <include refid="query_Where_Clause" />
	</select>
	
	<update id="updateNopayBillMeterBalance" parameterType="string" flushCache="true">
		update lm_meter m set balance = balance - (select p.minconsumequantity * pd.price1 from lm_price p,lm_pricedetail pd where p.id = m.pricecode and pd.priceid = p.id )
		where exists (select 1 from lm_bill b where b.billmonth = #{value} and b.meterid = m.id and b.operName = '定时任务生成无数据账单')

	</update>
	
	<update id="updateMeterBalanceByMinConsumamount" parameterType="string" flushCache="true">
		update lm_meter m set m.balance = m.balance - (select b.minconsumamount - ( b.minconsumamount *b.quantity/b.minconsumequantity ) 
		from lm_bill b where b.billmonth = #{value} and b.meterid = m.id  ),
		remark = CONCAT('账户补扣最低消费', #{value} )
		where m.opened = 1 and exists (select 1 from  lm_bill b where b.meterid = m.id 
		 and b.billmonth = #{value}  and  b.minconsumequantity > b.quantity  ) and ( m.remark not like concat('账户补扣最低消费',#{value},'%') or m.remark is null  )

	</update>
	
	<select id="countDayMeterReading" parameterType="map" resultType="int">
		select count(distinct meterid ) from lm_record r 
		<where>
			<if test="day != null"> and r.curtime like '${day}%' </if>
			<if test="systemid != null"> and r.systemid = #{systemid}</if>
		</where>
	</select>
	
	
	<select id="queryLast2MonthMeterReadingList" parameterType="map" resultType="map">
			select ca.value , 
		( select  ifnull(count(DISTINCT p.meterid),0) from lm_record p where substr(p.curtime,9,2) = ca.value and p.curtime like CONCAT(SUBSTR(CURDATE(),1,7),'%')  <if test="systemid != null"> and p.systemid = #{systemid}</if> ) thisMonthData ,
		( select  ifnull(count(DISTINCT pa.meterid),0) from lm_record pa where substr(pa.curtime,9,2) = ca.value and pa.curtime like CONCAT(SUBSTR(DATE_SUB(CURDATE(), INTERVAL 1 MONTH),1,7),'%')  <if test="systemid != null"> and pa.systemid = #{systemid}</if> ) lastMonthData 
		from ll_conf_attribute ca
		where ca.code = 'day_of_month' 
		group by ca.value
		order by ca.value 
		
	</select>
	<select id="queryLast2MonthOpenedMeterCountList" parameterType="map" resultType="map">
		select ca.value ,ifnull(count(DISTINCT p.id),0) thisMonthData ,
		 (select ifnull(count(DISTINCT pa.id),0) from lm_meter pa where CONCAT(SUBSTR(DATE_SUB(CURDATE(), INTERVAL 1 MONTH),1,8),ca.value) >= pa.opentime 
		 and pa.changed = 0 and pa.opened = 1 <if test="systemid != null"> and pa.systemid = #{systemid}</if> ) lastMonthData
		
		 from ll_conf_attribute ca
		LEFT JOIN lm_meter p on  CONCAT(SUBSTR(CURDATE(),1,8),ca.value ) >= p.opentime  and p.changed = 0 and p.opened = 1
		<if test="systemid != null"> and p.systemid = #{systemid}</if>

		where ca.code = 'day_of_month' 
		group by ca.value
		order by ca.value 
	</select>
	
</mapper>