
/*******报名*******/
.weixinreg_xmas_body {
    background:#f0f0f0;
}
.weixinreg_xmas_body2 {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.reg-body {
    width: 100%;
    height: auto;
    margin:0 auto 0 auto;
}
.reg-top {
    width: 100%;
    height: auto;
    text-align:center;
}
    .reg-top .main-element {
        width:100%;
        max-width:660px;
        height:auto;
        margin: 0 auto 0 auto;
        padding:2em 0 0 0;
    }
    .reg-top .regtitpic {
        width:100%;
        height:0.8em;
        margin: 0 auto 0 auto;
        padding:0 0 0 0;
        display:inline-table;
    }
        .reg-top .regtitpic img{
            width:100%;
        }
    .reg-top .regactivetit {
        width:80%;
        height:0.8em;
        margin: 0.4em auto 0 auto;
        padding:0 0 0 0;
        color:#fff;
        font-size:1.5em;
        text-align:center;
        display:inline-table;
    }
    .reg-top .regtit {
        width:88%;
        height:1.4em;
        margin: 3em auto 0 auto;
        padding:0 0 0 0;
        border-top:1px solid rgba(255,255,255,0.3);
    }
        .reg-top .regtit p{
            width:10.5em;
            margin: 0 auto 0 auto;
            padding:0 0 0 0;
            background:#dd6b80;
            color:#fff;
            font-size:1.2em;
            text-align:center;
            position:relative;
            top:-0.75em;
        }
    .reg-top .regform {
        margin: 0 auto 0 auto;
    }
    .reg-top .form {
        width: 90%;
        height: auto;
        margin: 0 auto 0 auto;
        padding: 0;
        list-style: none;
    }
        .reg-top .form .li {
            width: 100%;
            padding: 1em 0 1em 0;
            margin: 1em 0 0 0;
            background-color: #ccc;
            text-align:left;
            border-radius: 5px;
        }

    .reg-top .img {
        width: 2em;
        margin: auto 0.3em auto 1em;
    }
    .reg-top .input {
        width: 68%;
        margin: auto;
        border: none;
        outline: none;
        font-size: 1.2em;
        vertical-align: middle;
        background:#ccc;
        color:#000;
    }
        .reg-top .input::-webkit-input-placeholder {
            color: #fff;
        }
        .reg-top .input:-moz-placeholder {
            color: #fff;
        }
        .reg-top .input::-moz-placeholder {
            color: #fff;
        }
        .reg-top .input:-ms-input-placeholder {
            color: #fff;
        }

    .reg-top .checkbtn {
        width:100%;
        padding: 1em 0 1em 0;
        border:none;
        background:rgba(255,255,255,0.2);
        color:#fff;
        font-size: 1.2em;
    }
    .reg-top .submit {
        width: 90%;
        margin: 0.8em auto 0 auto;
        padding: 0.6em 0 0.6em 0;
        border: none;
        background-color: #e7874d;
        border-radius: 5px;
        color: #fff;
        font-size: 1.6em;
    }
    .reg-top .check-rule-panel {
        width: 80%;
        margin: 1.5em auto 0 auto;
        text-align:left;
        font-size:0.9em;
    }
    .reg-top .unckcss{
        opacity: 0.5; 
        filter: alpha(opacity=50);
    }
        .reg-top .check-rule-panel span{
            font-size: 1.2em;
            color:#fff;
        }
            .reg-top .check-rule-panel span a{
                font-size: 1em;
                color:#fff;
                text-decoration:underline;
                margin:0 0.2em 0 0.2em;
            }
        .reg-top .check-rule-panel .check-ckbox-link{
            width:1.2em;
            display:inline-table;
            vertical-align:top;
            margin:-0.1em 0.3em 0 0.2em;
        }
            .reg-top .check-rule-panel .check-ckbox-link img{
                width:100%;
            }
    .reg-top .bottom-tip {
        width:100%;
        height:auto;
        line-height:1.5em;
        font-size:1.2em;
        color:#888;
        text-align:center;
        margin:2.4em auto 0 auto;
    }

/******报名成功******/
    .reg-top .rightarrow {
        width:94%;
        height:0.8em;
        margin: 1em auto 1em auto;
        padding:0 0 0 0;
        display:inline-table;
        text-align:right;
        opacity: 0.9; 
        filter: alpha(opacity=90);
    }
        .reg-top .rightarrow img{
            height:5.2em;
        }
    .reg-top .regdonetit {
        width:80%;
        height:0.8em;
        margin: 0 auto 0 auto;
        padding:0 0 0.8em 0;
        font-size:1.5em;
        text-align:center;
        display:inline-table;
        border-bottom:1px solid rgba(0,0,0,0.1);
    }
    .reg-top .regtipinfo {
        width:80%;
        height:auto;
        margin: 1em auto 0 auto;
        line-height:1.5em;
        font-size:1.2em;
        text-align:left;
    }
    .reg-top .regsharepic {
        width:90%;
        height:auto;
        margin:2em auto 0 auto;
    }
        .reg-top .regsharepic img{
            width:100%;
        }

/******分享成功******/
.weixinreg_xmas_body3 {
    background:#f0f0f0;
}
.weixinreg_xmas_body4 {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 18em;
    width: 100%;
    background:#dd6b80;
}
.weixinreg_xmas_header {
    height: auto;
    width: 100%;
    display:inline-table;
}
    .weixinreg_xmas_header img{
        width: 100%;
    }
.sharedone-panel {
    width:100%;
    height:auto;
    display:inline-table;
}
    .sharedone-panel .acount{
        width:84%;
        height:auto;
        margin:4em auto 0 auto;
        padding:0 0 1em 0;
        border-bottom:1px solid rgba(0,0,0,0.1);
    }
        .sharedone-panel .acount table{
            width:100%;
            height:auto;
        }
            .sharedone-panel .acount table .left{
                width:36%;
                height:auto;
                text-align:right;
            }
                .sharedone-panel .acount table .left img{
                    width:4.5em;
                    border-radius: 4em;
                    border:1px solid #ccc;
                    margin:0 1.5em 0 0;
                }
            .sharedone-panel .acount table .right{
                height:auto;
                text-align:left;
            }
                .sharedone-panel .acount table .right .name{
                    width:auto;
                    height:auto;
                    line-height:2em;
                    font-size:1.1em;
                }
                .sharedone-panel .acount table .right .phone{
                    width:auto;
                    height:auto;
                    line-height:2em;
                    font-size:1.1em;
                }

    .sharedone-panel .tip{
        width:84%;
        height:auto;
        margin:1em auto 0 auto;
        line-height:3em;
        font-size:1.1em;
    }
        .sharedone-panel .tip .tit{
            width:100%;
            height:auto;
            line-height:2em;
            font-size:1.3em;
        }
        .sharedone-panel .tip .info{
            width:100%;
            height:auto;
            line-height:1.5em;
            font-size:1em;
        }
    .sharedone-panel .look{
        width:86%;
        height:auto;
        margin:3em auto 0 auto;
        line-height:3em;
        text-align:center;
        font-size:1.1em;
    }
        .sharedone-panel .look .h{
            font-size:1.1em;
            font-family:Arial;
            color:#e7874d;
        }
    .sharedone-panel .sendmore{
        width:86%;
        height:auto;
        margin:0 auto 0 auto;
    }
    .sharedone-panel .code{
        width:86%;
        height:auto;
        margin:3em auto 0 auto;
        padding:0 0 0 0;
        border:1px solid #ccc;
        border-radius: 5px;
    }
        .sharedone-panel .code p{
            width:4em;
            margin: 0 auto 0 auto;
            padding:0 0 0 0;
            background:#f0f0f0;
            font-size:1.3em;
            text-align:center;
            position:relative;
            top:-0.75em;
        }
        .sharedone-panel .code .codelistpanel{
            width:90%;
            height:auto;
            margin:0 0 0 5%;
            padding:0 0 0 0;
            display:inline-table;
        }
            .sharedone-panel .code .codelistpanel ul{
                width:100%;
                height:auto;
                margin:0 auto 1em auto;
                padding:0 0 0 0;
                list-style:none;
                display:inline-table;
            }
                .sharedone-panel .code .codelistpanel ul li{
                    width:28%;
                    height:auto;
                    line-height:2em;
                    margin:0 5% 0 0;
                    padding:0 0 0 0;
                    float:left;
                    border:0px solid red;
                    text-align:center;
                    font-size:1.1em;
                }
    .sharedone-panel .date{
        width:86%;
        height:auto;
        margin:3em auto 0 auto;
        padding:0 0 0 0;
        border:1px solid #ccc;
        border-radius: 5px;
    }
        .sharedone-panel .date p{
            width:5em;
            margin: 0 auto 0 auto;
            padding:0 0 0 0;
            background:#f0f0f0;
            font-size:1.3em;
            text-align:center;
            position:relative;
            top:-0.75em;
        }
        .sharedone-panel .date .datepanel{
            width:100%;
            height:auto;
            line-height:1em;
            margin:0.8em auto 0.05em auto;
            padding:0 0 0 0;
            text-align:center;
            font-size:1.8em;
            font-family:Arial;
        }
        .sharedone-panel .date .smallpanel{
            width:100%;
            height:auto;
            line-height:1.8em;
            margin:0 auto 0 auto;
            padding:0 0 0 0;
            text-align:center;
            font-size:1.2em;
        }
        .sharedone-panel .date .bigpanel{
            font-size:1.2em;
            font-family:Arial;
        }
    .sharedone-panel .logo{
        width:86%;
        height:auto;
        margin:5em auto 2.5em auto;
    }
        .sharedone-panel .logo img{
            width:100%;
        }
.sharedone-panel .sendmorebtn {
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 0.7em 0 0.6em 0;
    border: none;
    background-color: #e7874d;
    border-radius: 5px;
    color: #fff;
    font-size: 1.4em;
}