.new-min-quan{width:100%;padding: 3%;}
.new-min-quan ul{padding: 0;}
.new-min-quan ul li{ width:100%; overflow:hidden; height:90px; margin-bottom:10px}
.new-min-quan ul li .left{ float:left; width:70%;height:90px; background:#fff; overflow:hidden; border-top-left-radius:8px;border-bottom-left-radius:8px; position:relative}
.new-min-quan ul li .left .rtdian{ position:absolute;right:0px;top:0px; width:16px; height:16px; background:url('../../../../images/user/supplierProductShop/coupon/yuan.png') no-repeat; background-size:16px 16px; background-position:8px -8px}
.new-min-quan ul li .left .rbdian{ position:absolute;right:0px;bottom:0px; width:16px; height:16px; background:url('../../../../images/user/supplierProductShop/coupon/yuan.png') no-repeat; background-size:16px 16px; background-position:8px 8px}
.new-min-quan ul li .right{ float:right; width:30%;height:90px;overflow:hidden;border-top-right-radius:8px;border-bottom-right-radius:8px;position:relative}
.new-min-quan ul li .bg1{background:#999;}
.new-min-quan ul li .bg2{background:#f60;}
.new-min-quan ul li .right .ltdian{ position:absolute;left:0px;top:0px; width:16px; height:16px; background:url('../../../../images/user/supplierProductShop/coupon/yuan.png') no-repeat; background-size:16px 16px; background-position:-8px -8px}
.new-min-quan ul li .right .lbdian{ position:absolute;left:0px;bottom:0px; width:16px; height:16px; background:url('../../../../images/user/supplierProductShop/coupon/yuan.png') no-repeat; background-size:16px 16px; background-position:-8px 8px}
.new-min-quan ul li .right .padding{ margin:10px; overflow:hidden}
.new-min-quan ul li .right .price{color:#fff; font-size:12px; text-align:center;padding-top:10px; padding-bottom:5px;}
.new-min-quan ul li .right .price i{ font-style:normal; font-size:24px;}
.new-min-quan ul li .right .btn{width:60px;height:24px; margin:0 auto}
.new-min-quan ul li .right .btn button{ padding:0px; margin:0px; border:none; width:60px;height:24px; line-height:24px; border-radius:12px; font-size:13px;}
.new-min-quan ul li .right .btn .use{background:#FFF;color:#f60;}
.new-min-quan ul li .right .btn .used{background:#FFF;color:#999;}
.new-min-quan ul li .left .tit{ margin:10px; overflow:hidden}
.new-min-quan ul li .left .tit{width:65%; font-size:14px;white-space:nowrap;overflow : hidden;text-overflow: ellipsis; padding-top:10px}
.new-min-quan ul li .left .tit p{ font-size:12px}
.new-min-quan ul li .left img{ float:left; width:70px; height:70px; margin-right:5px; margin-left:5px;}
