<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.yd.business.bill.dao.IRecordExtendsMapper">
	
	<sql id="query_Where_Clause">
		<where>
			
			<if test="systemid != null"> and r.systemid = #{systemid}</if>
			<if test="operatorname != null"> and r.operatorname like  '%${productid}%'</if>
			<if test="username != null"> and r.username like  '%${username}%'</if>
			<if test="pricename != null"> and r.pricename like  '%${pricename}%'</if>
			<if test="productname != null"> and r.productname like  '%${productname}%'</if>
			<if test="userid != null"> and r.userid = #{userid}</if>
			<if test="metercode != null"> and r.metercode = #{metercode}</if>
			<if test="meterid != null"> and r.meterid = #{meterid}</if>
			<if test="billmonth != null"> and r.billmonth = #{billmonth}</if>
			<if test="start_date != null"> and r.curtime >= #{start_date}</if>
			<if test="end_date != null"> and #{end_date}  >= r.curtime  </if>
		</where>
	</sql>
	<sql id="query_limit">
	    <if test="rows != null">
	      <if test="page != null">
	        limit ${(page-1) * rows}, ${rows}
	      </if>
	      <if test="page == null">
	        limit ${rows}
	      </if>
	    </if>
	</sql>

	<select id="selectRecordList" resultType="recordModelExtendsBean"	parameterType="recordModelExtendsBean">
	
		select r.* ,u.code user_code from lm_record r ,lm_user u
	    <include refid="query_Where_Clause" />
		and r.userid = u.id 
	    order by id desc
	    <include refid="query_limit" />
	    
	</select>
	<select id="countSelectRecordList" resultType="int"	parameterType="recordModelExtendsBean">
	
		select count(1)  from lm_record r 
	    <include refid="query_Where_Clause" />
	    
	</select>
	
	
	<update id="updateRecordMeterCode">
		update lm_record set metercode = #{newMeterCode} where metercode = #{oldMeterCode}
	</update>
	
	
	
</mapper>